# Dependency directories
node_modules

# Next.js build output
.next

# VS Code directory
.vscode

# Git directory
.git

# Local environment variables
.env
.env.local
.env.production
.env.development

# Log files
npm-debug.log*
yarn-error.log*
